.my-bc-light {
  background-color: cornsilk;
}

.my-bc-green {
  background-color: seagreen;
}

.font-headline {
  font-family: "Walter Turncoat", cursive;
}

.my-c-light {
  color: #e6dacf;
}
.my-bc-brown {
  background-color: #201c19;
}

.inhalt{
  background-color: rgb(207, 211, 197);
  border-radius: 0.25rem;
}

.inhalt a{
  color: #201c19;
}
.inhalt a:hover {
  color: rgb(61, 112, 83);
  text-decoration: none;
} 

a:hover {
  color: white;
  text-decoration: none;
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
  color: cornsilk;
  background-color: #201c19;
 
}

.my-anchor{
  padding-top: 60px; 
  margin-top: -40px
}

.my-top-padding {
  padding-top: 6rem;
}

.my-headline-font {
  font-family: Charmonman;
  font-weight: bold;
}

.my-border-box2{
  border-color: #201c19;
  border: solid 2px;
  border-radius: 0.3rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28230, 218, 207, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.custom-toggler.navbar-toggler {
  border-color: rgb(230, 218, 207);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
}
